/* main elements */
body,div,td {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #2E537D;
}

body {
	background-color: #f4f4f4;
	background-image: url("../images/sr_denim_02.gif");
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#headerzone {
	width: auto;
	height: 120px;
}

#mainzone {
	width: auto;
	z-index: 500;
}

#footerzone {
	width: auto;
	height: 175px;
}

#bottomzone {
	/*background-color: #f4f4f4;*/
	width: auto;
	/*height: 750px;*/
}

#hwrapper {
	width: 900px;
	min-width: 900px;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: #2e537d;
	/* fix max-width incompatibility in IE6 */
	width: expression(document.body.clientWidth > 900 ? "900px" : "auto");
	display: block;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: #A8A8A8 1px solid;
}

#mwrapper {
	background-color: #fff;
	width: 900px;
	min-width: 900px;
	max-width: 900px;
	min-height: 450px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: #A8A8A8 1px solid;
	/* fix max-width incompatibility in IE6 */
	width: expression(document.body.clientWidth > 900 ? "900px" : "auto");
	overflow: hidden;
	display: block;
}

#fwrapper {
	width: 900px;
	min-width: 900px;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	/* fix max-width incompatibility in IE6 */
	width: expression(document.body.clientWidth > 900 ? "900px" : "auto");
	padding-left: 20px;
	background-color: #2e537d; padding-right : 10px; padding-bottom : 10px;
	border : #A8A8A8 1px solid;
	overflow: hidden;
	display: block;
	padding-right: 10px;
	padding-bottom: 10px;
	border: #A8A8A8 1px solid;
}

#bwrapper {
	width: 900px;
	min-width: 900px;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	/* fix max-width incompatibility in IE6 */
	width: expression(document.body.clientWidth > 900 ? "900px" : "auto");
	overflow: hidden;
	display: block;
}

#header {
	position: relative;
	background-color: #2e537d;
	width: auto;
	height: 75px;
}

/* header and footer elements */
#main {
	overflow: hidden;
	display: box;
}

#footer {
	background: #2e537d;
	border: none;
	color: #ffffff;
	/*margin-top:15px;
	border-top:1px solid #999999;*/
}

#footer .new {
	float: left;
}

#footer a:link {
	    color: #7390B1;
    text-decoration: none;
    font-weight: bold;
}

#footer a:visited {
color: #7390B1;
}

.quicklinks {
	clear: both;
	padding-bottom: 15px
}

.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}

span.stress {
	font-weight: bold;
}



div.accentboxlook {
    background-color: #7390B1;
    border: 1px solid #2e537d;
	padding: 5px;
	margin: 10px;
}

div.accentboxlayout {
	width: 35%;
	float: right;
}

div.reportboxlook {
	border: 2px #2E537D dotted;
	padding: 5px;
	color: #1B3F68;
	background-color: #7390B1;
	font-weight: bolder;
	text-decoration:none;
}

div.reportboxlook a {
	text-decoration: none;
}

label {
	width: 100px;
	float: left;
	margin-left: 5px;
	margin-top: 0px;
}

hr {
	    border-color: #2e537d;
}

input {
	height: 20px;
}

input,textarea,select {
	border: 1px solid #A6A6A6;
}

input.image {
	border: none;
	height: auto;
	vertical-align: middle;
}

submit {
	height: 25px;
}

div {
	text-align: left;
}

div .box {
	display: block;
	margin-left: 105px;
}

/* menu elements*/
a.menu,a.menu:link,a.menu:visited {
	display: block;
	width: 150px;
	height: 25px;
}

/* progress bar elements */
#progress {
 width: 98%;   
 border: 1px solid black;
 background-color:white;
 position: relative;
 padding: 0px;
}

#percent {
 position: absolute;   
 color:#1B3F68;
 left:50%;
 min-height:20px;
}

#bar {
 height: 20px;
 background-color:  #2E537D;
 width: 50%; 
 min-height:20px;
}


/* text styles */
h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #1B3F68;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color: #555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

a {
	text-decoration: underline;
	font-size: 14px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

/*tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}*/
a:link {
	color: #2e537d;
}

a:hover {
	color: #456314;
}

a:active {
	color: #2e537d;
}

a:visited {
	color: #2e537d;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin: 0 0 0.25em 0;
	padding: 0;
}
/* table elements */
table {
	background: #FDFDFD;
	margin: 2px 0 0 0;
	/*border: 1px solid #BBBBBB;*/
	border-collapse: collapse;
	border: 0px;
	border-color: #EEEEEE;
	width: 100%;
	margin-bottom: 10px;
}

table table {
	margin: -5px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}

table td,table th {
	padding: 2px;
	border: 1px solid #CCCCCC;
}

table td form {
	text-align: center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	font-size: 0.9em;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background-color:#2e537d;
	    padding-left: 3px;
}

table thead {
	font-weight: bold;
	background-color: #BBBBBB;
	
}

table a:link {
	display: inline-block;
	overflow: hidden;
	padding: 3px;
	color: #e7e5e5;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #2e537d;
	text-decoration: none;
}

table a:visited {
	display: inline-block;
	overflow: hidden;
	padding: 3px;
	color: #e7e5e5;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #2e537d;
	text-decoration: none;
}

table a.linkbutton:link {
	display: inline-block;
	overflow: hidden;
	padding: 3px;
	color: #e7e5e5;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #2e537d;
	text-decoration: none;
}

.utilbox {
	width: 18px;
}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color: #fff;
	border: none;
}

.table-buttons td {
	border: none;
}

.submit input {
	padding: 5px;
	color: #e7e5e5;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #2e537d;
	text-decoration: none;
	vertical-align: bottom;
	outline: 0;
	height: 31px;
	border: 0px;
}

.updated {
	background: #ecf1e5;
	font-size: 11px;
	margin-left: 2px;
	border: 4px solid #ecf1e5;
}

.updated td {
	padding: 2px 8px;
	font-size: 11px;
	color: #888888;
}

.dijitArrowButton {
	height: 20px;
}

.dijitTextArea {
	min-height: 5.5em !important;
	max-height: 22em !important;
	overflow-y: auto !important;
	max-width: 175px;
}

.RichTextEditable {
	min-height: 18em !important;
	max-height: 18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

/** additions (mine) **/
.selectspan {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: #e7e5e5;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(72, 108, 148, 0.96);
}

.selectspanactive {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: #e7e5e5;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #2e537d;
}

.inlineh2 {
	font-family: Helvetica, sans-serif;
    color: #1B3F68;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
    
.linkbutton a {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: #e7e5e5;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #2e537d;
	text-decoration: none;
	vertical-align: bottom;
}

a.linkbutton {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #2e537d;
	text-decoration: none;
	vertical-align: bottom;
}

a.linkbutton:visited {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #2e537d;
	text-decoration: none;
}

a.linkbutton:link {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #2e537d;
	text-decoration: none;
}

span.linkbuttonquiet {
	display: inline-block;
	overflow: hidden;
	padding: 7px;
	color: #A0A0A0;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #2e537d;
	vertical-align: bottom;
	font-weight: bolder;
	font-family: Arial
}

a.linkbuttonquiet {
	display: inline-block;
	overflow: hidden;
	padding: 7px;
	color: #A0A0A0;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #2e537d;
	vertical-align: bottom;
	font-weight: bolder;
	font-family: Arial
}

.inputspace {
	margin-bottom: 5px;
}

.checkboxalign {
	padding: 0;
	margin: 0;
	height: 13px;
}

.therebutnot {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.grtext {
	color:blue;
}

.bigandbold {
	font-size: 18px;
	font-weight: bold;
}

input.linkbutton {
	padding: 5px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	background-color:#2e537d;
	text-decoration: none;
	vertical-align: bottom;
	outline: 0;
	height: 31px;
	border: 0px;
}

.selectspan {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: #e7e5e5;
	margin-left: 20px;
	    text-align: center;
	margin-right: 20px;
	    background-color: rgba(72, 108, 148, 0.71);
}

.selectspanactive {
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	color: #e7e5e5;
	margin-left: 20px;
	margin-right: 20px;
	    text-align: center;
	background-color: #2e537d;
}

table a.tableboldlink {
	color: #2e537d;;
	background-color: white;
	font-weight: bolder;
}

table.clear {
	
}

table.clear td,table.clear th {
	border: 0px solid #CCCCCC;
	    background-color: white;
}

/** input form styling **/
div.elementcontainer {
	text-align: left;
	border: 1px dotted grey; padding: 5px; margin: 10px;
}

div.elementcontainer div {
	padding: 3px;
}

/** checkout images, styles **/

.selfcheckoutcontainer {
	    border-color: #2e537d;
    border-width: 1px;
    border-style: dashed;
    position: absolute;
}

.selfcheckouttext {
	background-color: #2e537d;
    float: right;
    width: 300px;
    height: 375px;
    padding-left: 15px;
}

.happyface {
    float: left;
    background-color: #2e537d;
    background-image: url("../images/happyfaceshell.gif");
    width: 475px;
    height: 375px;
    background-position: center;
}

.returnarrow {
    float: left;
    background-color: #2e537d;
    background-image: url("../images/arrowshell.gif");
    width: 475px;
    height: 375px;
    background-position: center;
}

/** table grid results and members**/

table.gridresults {
	border-color: #FFFFFF;
	border-spacing: 0px;
	border: 0px;
}

table.gridresults td,table.gridresults th {
	background-color: white;
	border-color: #FFFFFF;
	border-spacing: 0px;
	border: 0px;
	max-width: 200px;
	padding-bottom: 10px;
	padding-top: 10px;
	vertical-align: bottom;
}





table.gridresults a:link {
	color: rgba(193, 193, 186, 0.52);
	background-color: rgba(193, 193, 186, 0.52);
	    width: 150px;
    padding: 0px;
    margin:0px;
margin-bottom: -5px;
}

table.gridresults a:focus {
	color: rgba(193, 193, 186, 0.52);
	background-color: rgba(193, 193, 186, 0.52);
	    width: 150px;
    padding: 0px;
    margin:0px;
margin-bottom: -5px;
}


table.gridresults a:visited {
	color: rgba(193, 193, 186, 0.52);
	background-color: rgba(193, 193, 186, 0.52);
	    width: 150px;
    padding: 0px;
    margin:0px;
    margin-bottom: -5px;

}


table.gridresults a.grtext:visited {
	color:#2e537d;
	background-color: white;
	font-weight: bold;
}

table.gridresults a.grtext:link {
	color:#2e537d;
	background-color: white;
	font-weight: bold;
}

table.gridresults a.grtext:focus {
	color:#2e537d;
	background-color: white;
	font-weight: bold;
}

div.imagecontainer {
	position: relative;
}

a.imagecontainer:link {
	padding: 0px;
	margin: 0px;
	bottom: 0px;
}

img.emptybook {
	padding-bottom: 45px;
	width: 150px;
	max-width: 150px;
}

img.bookimage {
	width: 150px;
	max-width: 150px;
}

div.overlay {
	background-color: rgba(193, 193, 186, 0.52);
	position: absolute;
	width: 150px;
	bottom: 0px;
	
}

/** menu elements **/
/* horizontal menu elements */
#nav {
	margin: 0;
	width: 900px;
	padding: 6px 5px 0;
	background: #2e537d repeat-x 0 -110px;
	line-height: 100%;
}

#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
	z-index: 999;
}

/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding: 8px 20px;
	margin: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#nav a:hover {
	background: #000;
	color: #fff;
	z-index: 999;
}

/* main level link hover */
#nav .current a,#nav li:hover>a {
	background: #1B3F68;
	color: #fff;
	z-index: 999;
}



/* sub levels link hover */
#nav ul li:hover a,#nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	 z-index: 999;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	   
}

#nav ul a:hover {
	background: #0078ff repeat-x 0 -100px !important;
	color: #fff !important;
	z-index: 999;
	font-weight: bold;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/* dropdown */
#nav li:hover>ul {
	z-index: 999;
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	left: 0;
	background: #ddd repeat-x 0 0;
	/*	top: 35px;
border: solid 1px #b4b4b4;
-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child>a {
	/*	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;*/
	
}

#nav ul li:last-child>a {
	/*	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;*/
	
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#nav {
	display: inline-block;
}

html[xmlns] #nav {
	display: block;
}

* html #nav {
	height: 1%;
}