.selectspan {
display: inline-block;
overflow: hidden;
padding: 5px;
color: #e7e5e5;
margin-left: 20px;
margin-right: 20px;
background-color: #A2BA77;
} 


.selectspanactive {
display: inline-block;
overflow: hidden;
padding: 5px;
color: #e7e5e5;
margin-left: 20px;
margin-right: 20px;
background-color: #648C1D;
}
   
.linkbutton a {
display: inline-block;
overflow: hidden;
padding: 5px;
color: #e7e5e5;
margin-left: 20px;
margin-right: 20px;
background-color: #648C1D;
text-decoration: none;
vertical-align: bottom;
}  

a.linkbutton  {
display: inline-block;
overflow: hidden;
padding: 5px;
color: #e7e5e5;
margin-left: 10px;
margin-right: 10px;
background-color: #648C1D;
text-decoration: none;
vertical-align: bottom;
}  

a.linkbutton:visited  {
display: inline-block;
overflow: hidden;
padding: 5px;
color: #e7e5e5;
margin-left: 10px;
margin-right: 10px;
background-color: #648C1D;
text-decoration: none;
}  

.inputspace  {
	margin-bottom: 5px;
}

.checkboxalign  {
	padding: 0;
	margin: 0;
	height: 13px;
}

.therebutnot {
	border: 0px;
color: white;
outline:none;/**/
}

input.linkbutton  {
	padding: 5px;
color: #e7e5e5;
margin-left: 10px;
margin-right: 10px;
background-color: #648C1D;
text-decoration: none;
vertical-align: bottom;
outline: 0;
height: 27px;
}

.spacedout div {
	padding-top:5px;
}